/* google font (Montserra, Noto Sans) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 140px 0 60px;
}
.title-wrap .title {
  font-size: 40px;
  color: #1c1c1e;
  font-weight: bold;
}
.title-wrap .more-btn {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #9a9a9a;
  position: absolute;
  right: 0;
  transition: color 0.4s;
}

/* wrap */
.wrap {
  width: 100%;
  max-width: 1920px;
  height: 300vh;
  background: #fff;
  /* display: flex; */
  /* justify-content: center; */
  position: relative;
}
/* header */
header {
  width: 100%;
  height: 35px;
  background: #1c1c1c;
  /* background: transparent; */
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  position: absolute;
  z-index: 1;
  top: 0;
}
header .container {
  padding: 0 20px;
  width: 1200px;
  /* height: 35px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/* header-left */
header .container .header-left {
}
header .container .header-left ul {
  display: flex;
  align-items: center;
}
header .container .header-left ul li:not(:last-child) {
  margin-right: 40px;
}
header .container .header-left ul li a {
  height: 35px;
  display: flex;
  align-items: center;
}
header .container .header-left ul li a img {
  height: 24px;
}

/* header-right */
header .container .header-right {
}
header .container .header-right ul {
  display: flex;
  align-items: center;
}
header .container .header-right ul li:not(:first-child) {
  margin-left: 40px;
}
header .container .header-right ul li a {
  display: flex;
  align-items: center;
  height: 35px;
}
header .container .header-right ul li a img {
  height: 24px;
  margin-right: 10px;
}

/* gnb */
.gnb {
  background: transparent;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  /* border: 1px solid #fff; */
  position: absolute;
  z-index: 2;
  top: 40px;
}
.gnb .container {
  /* border: 1px solid red; */
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1e;
}
/* left */
.gnb .container .gnb-left {
}
.gnb .container .gnb-left > ul {
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
}
.gnb .container .gnb-left > ul > li {
  /* padding: 40px 0; */
  position: relative;
  display: flex;
  justify-content: center;
}
.gnb .container .gnb-left > ul > li:not(:first-child) {
  margin-left: 40px;
}
.gnb .container .gnb-left > ul > li > a {
  display: block;
  /* border: 1px solid red; */
  padding-bottom: 20px;
}
.gnb .container .gnb-left > ul > li > a > img {
  width: 80px;
  height: 45px;
}
/* gnb-left > dropdown menu */
.gnb .container .gnb-left > ul > li:hover > .dropdown {
  display: flex;
}
.gnb .container .gnb-left > ul > li > .dropdown {
  /* border: 1px solid red; */
  display: none; /* flex */
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background: #f4efe9;
  position: absolute;
  top: 40px;
  border-radius: 12px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.gnb .container .gnb-left > ul > li > .dropdown::after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 24px;
  height: 24px;
  /* border: 1px solid red; */
  border-radius: 4px;
  background: #f4efe9;
  transform: rotate(45deg);
}
.gnb .container .gnb-left > ul > li > .dropdown li:not(:last-child) {
  margin-bottom: 30px;
}
.gnb .container .gnb-left > ul > li > .dropdown li a {
  font-size: 18px;
  font-weight: 600;
  display: block;
  width: 100%;
  color: #1c1c1e;
}

/* right */
.gnb .container .gnb-right {
}
.gnb .container .gnb-right ul {
  display: flex;
}
.gnb .container .gnb-right ul li {
}
.gnb .container .gnb-right ul li:not(:first-child) {
  margin-left: 40px;
}
.gnb .container .gnb-right ul li a {
  display: block;
}
.gnb .container .gnb-right ul li a img {
  width: 32px;
  height: 32px;
}

/* banner */
.banner {
  width: 100%;
  height: 700px;
  /* border: 1px solid red; */
  position: relative;
}
.banner .slide {
  width: 100%;
  height: 700px;
}
.banner .slide1 {
  background: url("./imgs/slide1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner .pager {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40px;
}
.banner .pager li:not(:first-child) {
  margin-left: 10px;
}
.banner .pager li a {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #1c1c1e;
  border-radius: 50px;
}

.banner .pager li a.select {
  background: #1c1c1e;
}

/* season-wrap */
.season-wrap {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.season-wrap .container {
  padding: 0 20px;
  width: 1200px;
  /* border: 1px solid #fff; */
}
.season-wrap .container .season-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 140px 0 60px;
}
.season-wrap .container .season-title-wrap .season-title {
  font-size: 40px;
  color: #1c1c1e;
  font-weight: bold;
}
.season-wrap .container .season-title-wrap .more-btn {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #9a9a9a;
  position: absolute;
  right: 0;
}
.season-wrap .container .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid blue; */
}
/* season item wrap */
.season-wrap .container .season-item-wrap {
  width: 50%;
  display: flex;
  /* border: 1px solid red; */
}
/* season item left */
.season-wrap .container .season-item-wrap .season-item-left {
  width: 100%;
  /* padding-right: 10px; */
  /* border: 1px solid #fff; */
}
/* season item left-banner */
.season-item-banner {
  width: 100%;
  height: 433px;
  margin-bottom: 50px;
}
.season-item-banner a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.season-item-banner a img {
  width: 100%;
}
/* season item left-items */
.season-wrap .container .season-item-wrap .season-item-left .season-item {
  /* border: 1px solid red; */
  display: flex;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item:not(:last-child) {
  margin-bottom: 50px;
}
/* item-left */
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left {
  /* border: 1px solid red; */
  width: 275px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  > a {
  width: 100%;
  height: 100%;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  > a
  > img {
  transition: all 0.4s;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  > a:hover
  > img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-color {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-color
  li {
  width: 16px;
  height: 16px;
  border-radius: 50px;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-color
  li:not(:last-child) {
  margin-right: 5px;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-color
  li:nth-child(1) {
  background: #555e2c;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-color
  li:nth-child(2) {
  background: #e9d49b;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-color
  li:nth-child(3) {
  background: #2e2e2e;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-wish {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.season-wrap
  .container
  .season-item-wrap
  .season-item-left
  .season-item
  .item-left
  .item-wish
  > img {
  width: 100%;
}
/* right */
.season-wrap .container .season-item-wrap .item-right {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.season-wrap .container .season-item-wrap .item-right .desc {
  /* border: 1px solid red; */
  width: 100%;
}
.season-wrap .container .season-item-wrap .item-right .desc .name {
  font-size: 14px;
  font-weight: bold;
  color: #1c1c1e;
}
.season-wrap .container .season-item-wrap .item-right .desc .price {
  font-size: 18px;
  font-weight: bold;
  color: #1c1c1e;
}
.season-wrap .container .season-item-wrap .item-right .desc .price .won {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #1c1c1e;
}
.season-wrap .container .season-item-wrap .item-right .desc .price .free {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #6b6b6b;
}

.season-wrap .container .season-item-wrap .item-right .desc .wish-count {
  font-size: 13px;
  color: #6b6b6b;
  font-weight: 500;

  display: flex;
  align-items: center;
}
.season-wrap .container .season-item-wrap .item-right .desc .wish-count img {
  width: 16px;
  margin-right: 5px;
}

/* sub banner */
.sub-banner {
  width: 100%;
  height: 700px;
  background: url("./imgs/sub-banner-bg.jpg") no-repeat center / cover;
  margin: 140px 0;
  display: flex;
  justify-content: center;
}
.sub-banner .container {
  width: 1200px;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-banner .container .title-wrap {
  margin: 60px 0 30px;
}
.sub-banner .container .title-wrap .title {
  color: #fff;
}
.sub-banner .container .title-wrap .more-btn:hover {
  color: #fff;
}
.sub-banner .container .puzzle-wrap {
  /* border: 1px solid red; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.sub-banner .container .puzzle-wrap img {
  height: 476px;
}
